<!doctype html>
<html ng-app="todoApp">

<head>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="./controllers/TodoController.js"></script>
    <script src="./services/ToDoService.js"></script>
</head>

<body ng-controller="TodoController as tdCtrl">
    <div>
        Title: {{tdCtrl.titleName}}
        <div>
            <input type="text" ng-model="tdCtrl.listName" />
            <button ng-click="tdCtrl.addToList()">Add</button>
            <p ng-repeat="item in tdCtrl.items"> {{item}}</p>
        </div>
        <div ng-if="tdCtrl.isShowDiv"> div1</div>
        <button ng-click="tdCtrl.isShowDiv=true"> show </button>
        <button ng-click="tdCtrl.isShowDiv=false"> hide </button>
        <a href="#page1"> page1 </a>
        <a href="#page2"> page2 </a>
        <div ng-view></div>
        <my-template></my-template>
    </div>
</body>

</html>
